body{
    background-color:black;
    margin:0;
    padding:0;
}

/*  header style */
.navigation{
    display:flex;
    justify-content:space-between;
    align-items:center; 
    padding:0 80px;
    height:100px;
    margin-bottom:100px;
}

.logo{
    height:50px;
}

.navigation-links{
    display:flex;
    width:400px;
    justify-content:space-evenly;
    padding:0;
    margin:0;
}

.navigation-link{
    list-style-type:none;
    color:white;
    font-family:'Lato', sans-serif;
    font-size:20px;
}

.navigation-link a{
    text-decoration:none;
    color:rgba(255,255,255,0.6);
}

.navigation-link a:hover{
    text-decoration:none;
    color:white;
}

/* content style */
.content{
    position:relative;
    height:calc(100vh - 200px);
}

.self-introduction{
    position:absolute;
    margin-left:80px;
    display:flex;
    flex-direction:column;
    width:50%;
    margin-top:calc(45vh - 200px);
}

.self-introduction h1{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    color:white;
    margin:0;
    padding:0;
}

.self-introduction p{
    font-family:'Nunito', sans-serif;
    font-size:20px;
    word-wrap: break-word;
    color:white;
    font-weight:100;
    margin:0;
    padding:0;
    margin-top:18px;
}

.content .myself{
    float:right;
    height:100%;
}

/* case-studies style */
.case-studies{
    display: flex;
    justify-content: space-evenly;
    align-items:baseline;
    padding:0;
    margin:0;
}

.ebuddy, .DESE{
    text-align: center;
    width:520px;
    margin-top:40px;
}

.ebuddy-img,.DESE-img{
    height: 350px;
}

.ebuddy h3, .DESE h3{
    color:white;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    margin:10px;
    padding:0;
}

.ebuddy p, .DESE p{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size:16px;
    margin:10px;
    padding:0;
    font-weight: 300;
}

/* case-studies2 style */
.case-studies2{
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding:0;
    margin:0;
}

.Native-ARC{
    text-align: center;
    width:520px;
    margin-top: 120px;
}

.Native-img{
    height:350px;
}

.Native-ARC h3{
    color:white;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    margin:10px;
    padding:0;
}

.Native-ARC p{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size:16px;
    margin:10px;
    padding:0;
    font-weight: 300;
}

/* my specialities style */
.my-specialities-title{
    text-align: center;
}

.my-specialities-title h1{
    color:white;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    padding:0;
    margin-top: 300px;
    margin-bottom: 50px;
}

.my-specialties{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 0;
    margin:0;
    height: 300px;
}

.user-research, .user-empathy, .qualitative-interview{
    width:350px;
    text-align: center;
    margin-top: 20px;
}

.search, .profile, .message{
    width: 60px;
}

.user-research h2, .user-empathy h2, .qualitative-interview h2{
    color:white;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    margin:10px;
    padding:0;
}

.user-research p, .user-empathy p, .qualitative-interview p{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    padding:0;
    margin:10px;
    font-weight: 300;
}

/* Get in touch style */
.get-in-touch{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin-top:300px;
    margin-bottom:100px;
}

.GetInTouch{
    text-align: center;
}

.left-hand, .right-hand{
    width:350px;
}
.GetInTouch h1{
    color:white;
    font-family: 'Lato', sans-serif;
    font-size:40px;
    margin:0;
    padding:0;
}

.social-media{
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    width: 223px;
    margin-top: 30px;
}

/* Footer style */
footer p{
    padding-left:80px;
    color:white;
    font-family: 'Lato', sans-serif;
    margin-bottom:20px;
    font-weight: 200;
}
